<div class="charts-view">
  <div class="page-part left-part">
    <div class="part-header">
      <h3 class="text-main">Ümumi</h3>
    </div>
    <div class="part-content">
      <div class="w-100 left">
        <app-general></app-general>
      </div>
      <div class="w-100 left">
        <app-task-types></app-task-types>
      </div>
    </div>
  </div>
  <div class="page-part right-part">
    <div class="part-header">
      <h3 class="text-main">Həyata keçirilməsi</h3>
    </div>
    <div class="part-content">
      <app-table-charts></app-table-charts>
    </div>
  </div>
</div>
